local kube = import 'kube.jsonnet';

function(config) (
  local group = config.groups.metricsServer;
  if group.enabled then {
    Helmrelease: if group.helmrelease.create then kube.helmrelease(config, group),
    Namespace: if group.namespace.create then kube.namespace(config, group),
  }
)
