local aws = import 'aws.jsonnet';

function(config) (
  local group = config.groups.reloader;
  if group.enabled then {
    Helmrelease: aws.helmrelease(config, group),
    Namespace: if group.namespace.create then aws.namespace(config, group),
  }
)
