{{ if .Values.configmap.enabled -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: shoreline
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "charts.labels.standard" .}}
data:
  ClinicDemoUserId: {{ .Values.configmap.data.ClinicDemoUserId | quote }}
  KeycloakAdminUsername: {{ .Values.configmap.data.KeycloakAdminUsername | quote }}
  KeycloakBaseUrl: {{ .Values.configmap.data.KeycloakBaseUrl | quote }}
  KeycloakBackendClientId: {{ .Values.configmap.data.KeycloakBackendClientId | quote }}
  KeycloakClientId: {{ .Values.configmap.data.KeycloakClientId | quote }}
  KeycloakRealm: {{ .Values.configmap.data.KeycloakRealm | quote }}
{{- end }}
