---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: shoreline
{{ include "charts.labels.standard" .}}
  name: shoreline
  namespace: {{.Release.Namespace}}
  annotations:
    secret.reloader.stakater.com/reload: "server,{{ .Values.mongo.secretName }},shoreline,userdata"
    configmap.reloader.stakater.com/reload: "{{ .Values.kafka.configmapName }}"
{{ if .Values.deployment.annotations }}
    {{- .Values.deployment.annotations | toYaml | nindent 4 }}
{{- end }}
spec:
  selector:
    matchLabels:
      app: shoreline
      app.kubernetes.io/name: {{ include "charts.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: {{ .Values.deployment.replicas }}
  strategy: {}
  template:
    metadata:
      labels:
        app: shoreline
        app.kubernetes.io/name: {{ include "charts.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
      annotations:
        kubectl.kubernetes.io/default-container: shoreline
{{ if .Values.podAnnotations }}
        {{- .Values.podAnnotations | toYaml | nindent 8 }}
{{- end }}
    spec:
      {{ if .Values.initContainers }}
      initContainers:
{{- with .Values.initContainers }}
{{toYaml . | indent 6}}{{- end }}
      {{- end }}
      {{- if .Values.priorityClassName }}
      priorityClassName: {{ .Values.priorityClassName }}
      {{- end }}
      containers:
      - env:
        {{ include "charts.mongo.params" .}}
        {{ include "charts.kafka.common" .}}
        {{ include "charts.kafka.cloudevents.client" (dict "Values" .Values "Release" .Release "client" "shoreline") }}
        {{ include "charts.tracing.common" .}}
        - name: API_HOST
          value: {{ .Values.global.gateway.default.apiHost | default .Values.global.gateway.default.host }}
        - name: TIDEPOOL_STORE_DATABASE
          value: user
        - name: MARKETO_CLINIC_ROLE
          valueFrom:
            configMapKeyRef:
              name: marketo
              key: ClinicRole
              optional: true
        - name: MARKETO_PATIENT_ROLE
          valueFrom:
            configMapKeyRef:
              name: marketo
              key: PatientRole
              optional: true
        - name: MARKETO_TIMEOUT
          valueFrom:
            configMapKeyRef:
              name: marketo
              key: Timeout
              optional: true
        - name: PRIVATE_KEY
          valueFrom:
            secretKeyRef:
              name: token-signing-key
              key: private
              optional: true
        - name: PUBLIC_KEY
          valueFrom:
            secretKeyRef:
              name: token-signing-key
              key: public
              optional: true
        - name: MARKETO_ID
          valueFrom:
            secretKeyRef:
              name: marketo
              key: ID
              optional: true
        - name: MARKETO_SECRET
          valueFrom:
            secretKeyRef:
              name: marketo
              key: Secret
              optional: true
        - name: MARKETO_URL
          valueFrom:
            secretKeyRef:
              name: marketo
              key: URL
              optional: true
        - name: DEMO_CLINIC_USER_ID
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: ClinicDemoUserId
              optional: true
        - name: SERVER_SECRET
          valueFrom:
            secretKeyRef:
              name: server
              key: ServiceAuth
        - name: API_SECRET
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: ServiceAuth
              optional: true
        - name: SALT
          valueFrom:
            secretKeyRef:
              name: userdata
              key: UserPasswordSalt
              optional: true
        - name: VERIFICATION_SECRET
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: UserMailVerification
              optional: true
        - name: LONG_TERM_KEY
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: UserLongTermKey
              optional: true
        - name: SERVICE_LISTEN_ADDRESS
          value: ":{{ .Values.global.ports.shoreline }}"
        - name: TIDEPOOL_SERVER_SECRET
          valueFrom:
            secretKeyRef:
              name: server
              key: ServiceAuth
        - name: TIDEPOOL_AUTH_CLIENT_ADDRESS
          value: "http://shoreline:{{.Values.global.ports.shoreline}}"
        - name: TIDEPOOL_SEAGULL_CLIENT_ADDRESS
          value: "http://seagull:{{.Values.global.ports.seagull}}"
        - name: TIDEPOOL_PERMISSION_CLIENT_ADDRESS
          value: "http://gatekeeper:{{.Values.global.ports.gatekeeper}}"
        - name: TIDEPOOL_METRICS_CLIENT_ADDRESS
          value: "http://highwater:{{.Values.global.ports.highwater}}"
        - name: TIDEPOOL_CLINIC_CLIENT_ADDRESS
          value: "http://internal.{{.Release.Namespace}}"
        - name: TIDEPOOL_SHORELINE_ENV
          value: |
            {
                "gatekeeper": {"serviceSpec": {"type": "static", "hosts": ["http://gatekeeper:{{.Values.global.ports.gatekeeper}}"]}},
                "hakken": {
                  "host": "hakken",
                  "skipHakken": true
                },
                "highwater": {
                    "metricsSource": "shoreline",
                    "metricsVersion": "v0.0.1",
                    "name": "highwater",
                    "serviceSpec": {"type": "static", "hosts": ["http://highwater:{{.Values.global.ports.highwater}}"]}
                }
            }
        - name: TIDEPOOL_SHORELINE_SERVICE
          value: |
            {
                "service": {
                    "host": "localhost:{{.Values.global.ports.shoreline}}",
                    "protocol": "http",
                    "service": "shoreline"
                },
                "user": {
                    "longTermDaysDuration": 30,
                    "tokenDurationSecs": 2592000
                }
            }
        - name: TIDEPOOL_KEYCLOAK_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: KeycloakClientId
              optional: true
        - name: TIDEPOOL_KEYCLOAK_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: KeycloakClientSecret
              optional: true
        - name: TIDEPOOL_KEYCLOAK_LONG_LIVED_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: KeycloakLongLivedClientId
              optional: true
        - name: TIDEPOOL_KEYCLOAK_LONG_LIVED_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: KeycloakLongLivedClientSecret
              optional: true
        - name: TIDEPOOL_KEYCLOAK_BACKEND_CLIENT_ID
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: KeycloakBackendClientId
              optional: true
        - name: TIDEPOOL_KEYCLOAK_BACKEND_CLIENT_SECRET
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: KeycloakBackendClientSecret
              optional: true
        - name: TIDEPOOL_KEYCLOAK_ADMIN_USERNAME
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: KeycloakAdminUsername
              optional: true
        - name: TIDEPOOL_KEYCLOAK_ADMIN_PASSWORD
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: KeycloakAdminPassword
              optional: true
        - name: TIDEPOOL_KEYCLOAK_BASE_URL
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: KeycloakBaseUrl
              optional: true
        - name: TIDEPOOL_KEYCLOAK_REALM
          valueFrom:
            configMapKeyRef:
              name: shoreline
              key: KeycloakRealm
              optional: true
        - name: TIDEPOOL_KEYCLOAK_MIGRATION_SECRET
          valueFrom:
            secretKeyRef:
              name: shoreline
              key: KeycloakMigrationSecret
              optional: true
        - name: TIDEPOOL_CLINIC_SERVICE_ENABLED
          value: "{{.Values.deployment.env.clinicServiceEnabled}}"
        image: "{{ .Values.deployment.image }}"
        securityContext:
          {{- .Values.podSecurityContext | toYaml | nindent 10 }}
        readinessProbe:
          httpGet:
            path: /status
            port: {{ .Values.global.ports.shoreline }}
          initialDelaySeconds: 3
          periodSeconds: 10
        {{ template "charts.service.lifecycle"}}
        name: shoreline
        ports:
        - containerPort: {{ .Values.global.ports.shoreline }}
          name: "http"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      restartPolicy: Always
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
