{{ if .Values.global.glooingress.enabled }}
apiVersion: gateway.solo.io/v1
kind: RouteTable
metadata:
  name: auth
  namespace: {{ .Release.Namespace }}
  labels:
    namespace: {{ .Release.Namespace }}
    app: tidepool
spec:
  routes:
  - matchers:
    - methods:
      - GET
      exact: /auth/status
    routeAction:
      single:
        upstream:
          name: auth
    options:
      extauth:
        disable: true
      prefixRewrite: /status
  - matchers:
    - methods:
      - GET
      - POST
      - DELETE
      regex: /v1/users/[^/]+/restricted_tokens
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - GET
      - POST
      - DELETE
      regex: /v1/users/[^/]+/provider_sessions
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - GET
      - POST
      regex: /v1/users/[^/]+/device_authorizations(/[^/]+)?
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - POST
      regex: /v1/device_authorizations
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - GET
      - PUT
      - DELETE
      prefix: /v1/provider_sessions
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - GET
      - DELETE
      regex: /v1/oauth/[^/]+/authorize
    routeAction:
      single:
        upstream:
          name: auth
    options:
      extauth:
        disable: true
  - matchers:
    - methods:
      - GET
      regex: /v1/oauth/[^/]+/redirect
    routeAction:
      single:
        upstream:
          name: auth
    options:
      extauth:
        disable: true
  - matchers:
    - methods:
      - DELETE
      regex: /v1/users/[^/]+/oauth/[^/]+/authorize
    routeAction:
      single:
        upstream:
          name: auth
    options:
      extauth:
        disable: true
  - matchers:
    - methods:
      - GET
      - PUT
      - DELETE
      prefix: /v1/restricted_tokens
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - POST
      prefix: /v1/device_check
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - POST
      prefix: /v1/attestations
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - POST
      prefix: /v1/assertions
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - POST
      regex: /v1/users/[^/]+/device_tokens
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - DELETE
      regex: /v1/partners/twiist/links/[^/]+
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
      - methods:
          - GET
        prefix: /v1/consents
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
      - methods:
          - GET
          - POST
        regex: /v1/users/[^/]+/consents
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
      - methods:
          - GET
          - PATCH
          - DELETE
        regex: /v1/users/[^/]+/consents/[^/]+
    routeAction:
      single:
        upstream:
          name: auth
  - matchers:
    - methods:
      - GET
      - POST
      - PUT
      - DELETE
      regex: /v1/users/(legacy/)?[^/]+/profile
    routeAction:
      single:
        upstream:
          name: auth
{{- end }}
