secret:
  # -- whether to generate a secret
  enabled: false
  data_:
    # -- task authorization, if empty, random value is generated
    ServiceAuth: ""
deployment:
  # deployment.image -- Docker image
  image: tidepool/platform-task:master-latest
  # -- number of replicas
  replicas: 1
  env:
    queue:
      delay: 5
      workers: 5
# -- memory and cpu resources for pods
resources: {}
# -- security context for each pod in deployment
podSecurityContext: {}
# -- annotations for each pod in deployment
podAnnotations: {}
securityContext: {}

serviceMonitor:
  # whether to generate a prometheus-operator service monitor
  enabled: false

hpa:
  # -- whether to create a horizontal pod autoscalers for all pods of given deployment
  enabled: false
  # -- minimum number of replicas that HPA will maintain
  minReplicas: 1
  # -- maximum number of replicas that HPA will maintain
  maxReplicas: null
pdb:
  # -- whether to apply a pod disruption budget
  enabled: false
  minAvailable: "50%"
mongo:
  # -- name of the secret containing the credentials of the mongo database to use
  secretName: mongo
# -- node selector configuration
nodeSelector: {}
# -- tolerations
tolerations: []
# -- affinity
affinity: {}
# -- url path prefix to prepend to any shoreline calls
authPathPrefix: "auth"