---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: jellyfish
{{ include "charts.labels.standard" .}}
  name: jellyfish
  namespace: {{.Release.Namespace}}
  annotations:
    secret.reloader.stakater.com/reload: "server,{{ .Values.mongo.secretName }}"
{{ if .Values.deployment.annotations }}
    {{- .Values.deployment.annotations | toYaml | nindent 4 }}
{{- end }}
spec:
  selector:
    matchLabels:
      app: jellyfish
      app.kubernetes.io/name: {{ include "charts.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: {{ .Values.deployment.replicas }}
  strategy: {}
  template:
    metadata:
{{ if .Values.podAnnotations }}
      annotations:
        {{- .Values.podAnnotations | toYaml | nindent 8 }}
{{- end }}
      labels:
        app: jellyfish
        app.kubernetes.io/name: {{ include "charts.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
      {{ if .Values.initContainers }}
      initContainers:
{{- with .Values.initContainers }}
{{toYaml . | indent 6}}{{- end }}
      {{- end }}
{{ if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
{{- end }}
      containers:
      - env:
        {{ include "charts.mongo.params" .}}
        {{ include "charts.tracing.common" .}}
        - name: TIDEPOOL_STORE_DATABASE
          value: {{ .Values.store.database | quote }}
        - name: TIDEPOOL_STORE_DATABASE_PREFIX
          value: {{ .Values.store.prefix | quote }}
        - name: MINIMUM_UPLOADER_VERSION
          valueFrom:
            configMapKeyRef:
              name: jellyfish
              key: MinimumUploaderVersion
              optional: true
        - name: PORT
          value: "{{.Values.global.ports.jellyfish}}"
        - name: TIDEPOOL_SERVER_SECRET
          valueFrom:
            secretKeyRef:
              name: server
              key: ServiceAuth
        - name: TIDEPOOL_AUTH_CLIENT_ADDRESS
          value: "shoreline:{{.Values.global.ports.shoreline}}"
        - name: TIDEPOOL_SEAGULL_CLIENT_ADDRESS
          value: "seagull:{{.Values.global.ports.seagull}}"
        - name: TIDEPOOL_PERMISSION_CLIENT_ADDRESS
          value: "gatekeeper:{{.Values.global.ports.gatekeeper}}"
        image: "{{ .Values.deployment.image }}"
        securityContext:
          {{- .Values.podSecurityContext | toYaml | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /status
            port: {{ .Values.global.ports.jellyfish }}
          initialDelaySeconds: 3
          periodSeconds: 10
        name: jellyfish
        ports:
        - containerPort: {{ .Values.global.ports.jellyfish }}
          name: "http"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      restartPolicy: Always
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
