{{ if .Values.global.glooingress.enabled }}
apiVersion: gateway.solo.io/v1
kind: RouteTable
metadata:
  name: jellyfish
  namespace: {{ .Release.Namespace }}
  labels:
    namespace: {{ .Release.Namespace }}
    app: tidepool
spec:
  routes:
  - matchers:
    - methods:
      - POST
      prefix: /v1/device/upload/cl
    routeAction:
      single:
        upstream:
          name: jellyfish
          namespace: {{ .Release.Namespace }}
  - matchers:
    - methods:
      - GET
      prefix: /v1/device/data/
    routeAction:
      single:
        upstream:
          name: jellyfish
          namespace: {{ .Release.Namespace }}
  - matchers:
    - methods:
      - GET
      prefix: /v1/synctasks/
    routeAction:
      single:
        upstream:
          name: jellyfish
          namespace: {{ .Release.Namespace }}
  - matchers:
    - methods:
      - POST
      prefix: /data/
    routeAction:
      single:
        upstream:
          name: jellyfish
          namespace: {{ .Release.Namespace }}
    options:
      timeout: "60s"
{{ if .Values.shadowing }}
      shadowing:
{{ toYaml .Values.shadowing | nindent 8 }}
{{- end }}
  - matchers:
    - methods:
      - GET
      prefix: /info
    routeAction:
      single:
        upstream:
          name: jellyfish
          namespace: {{ .Release.Namespace }}
{{- end }}
