{{ if .Values.kiam.enabled }}
apiVersion: flux.weave.works/v1beta1
kind: HelmRelease
metadata:
  name: kiam
  namespace: kube-system
spec:
  releaseName: kiam
  chart:
    {{- .Values.kiam.chart | toYaml | nindent 4 }}
  values:
    agent:
      enabled: true
      host:
        iptables: true
        interface: "!eth0"
      # The default chart timeout is too small. See https://github.com/uswitch/kiam/issues/94#issuecomment-423876602
      gatewayTimeoutCreation: 1s
    
      # If you only want the agents to run on some nodes, you can set this value. In our example,
      # this isn't necessary, and the agents won't run on the kiam-server boxes as they are tainted
      # to prevent any other pods running.
      # nodeSelector:
      #   kiam-agent: "true"
      #
    
      extraHostPathMounts:
      - name: ssl-certs
        mountPath: /etc/ssl/certs
        hostPath: /etc/pki/ca-trust/extracted/pem
        readOnly: true
      log:
        level: {{ .Values.global.logLevel | quote }}
    
    server:
      extraArgs:
      - no-iptables-remove
      enabled: true
      # This is to choose a different node for agent vs server. Without it, the kiam-server pods
      # would be scheduled on all nodes, including the ones that are running the kiam-agents
      nodeSelector:
        kiam-server: "true"
      # This states that the server pods can withstand the taint on the second node group that prevents
      # other pods from being scheduled there.
      tolerations:
      - key: kiam-server
        operator: Equal
        value: "false"
        effect: NoExecute
      extraHostPathMounts:
      - name: ssl-certs
        mountPath: /etc/ssl/certs
        hostPath: /etc/pki/ca-trust/extracted/pem
        readOnly: true
      extraArgs:
        region: {{ .Values.global.awsRegion | quote }}
        assume-role-arn: {{ include "charts.kiam.arn" . }}
      useHostNetwork: true
      log:
        level: {{ .Values.global.logLevel | quote }}
{{ end }}
