{{ if .Values.configmap.enabled -}}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: clinic-worker
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "charts.labels.standard" .}}
data:
  RedoxClientId: ""
  RedoxSourceId: ""
  RedoxSourceName: ""
  RedoxTestMode: "true"
  RedoxEnabled: "false"
  KafkaTopicPrefix: {{ .Values.configmap.data.KafkaTopicPrefix | quote }}
  KafkaTopic: {{ .Values.configmap.data.KafkaTopic | quote }}
{{- end }}
