{{ if .Values.enabled -}}
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: export
{{ include "charts.labels.standard" .}}
  name: export
  namespace: {{.Release.Namespace}}
  annotations:
    secret.reloader.stakater.com/reload: "export"
{{ if .Values.deployment.annotations }}
    {{- .Values.deployment.annotations | toYaml | nindent 4 }}
{{- end }}
spec:
  selector:
    matchLabels:
      app: export
      app.kubernetes.io/name: {{ include "charts.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: {{ .Values.deployment.replicas }}
  strategy: {}
  template:
    metadata:
      labels:
        app: export
        app.kubernetes.io/name: {{ include "charts.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
{{ if .Values.podAnnotations }}
      annotations:
        {{- .Values.podAnnotations | toYaml | nindent 8 }}
{{- end }}
    spec:
      containers:
      - env:
        - name: API_HOST
          value: "http://internal.{{.Release.Namespace}}"
        - name: DEBUG_LEVEL
          value: debug
        - name: HTTP_PORT
          value: "{{ .Values.global.ports.export }}"
        - name: SESSION_SECRET
          valueFrom:
            secretKeyRef:
              name: export
              key: SessionEncryptionKey
        image: "{{ .Values.deployment.image }}"
        securityContext:
          {{- .Values.podSecurityContext | toYaml | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /export/status
            port: {{ .Values.global.ports.export }}
          initialDelaySeconds: 30
          periodSeconds: 10
        name: export
        ports:
        - containerPort: {{.Values.global.ports.export}}
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      restartPolicy: Always
{{- end }}
