---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: blob
{{ include "charts.labels.standard" .}}
  name: blob
  namespace: {{.Release.Namespace}}
  annotations:
    secret.reloader.stakater.com/reload: "server,{{ .Values.mongo.secretName }},blob"
{{ if (.Values.deployment).annotations }}
    {{- (.Values.deployment).annotations | toYaml | nindent 4 }}
{{- end }}
spec:
  selector:
    matchLabels:
      app: blob
      app.kubernetes.io/name: {{ include "charts.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: {{ (.Values.deployment).replicas }}
  strategy: {}
  template:
    metadata:
      annotations:
        kubectl.kubernetes.io/default-container: blob
{{ if .Values.podAnnotations }}
        {{- .Values.podAnnotations | toYaml | nindent 8 }}
{{- end }}
      labels:
        app: blob
        app.kubernetes.io/name: {{ include "charts.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
    spec:
{{- $imagePullSecrets := (.Values.deployment).imagePullSecrets | default ((.Values.global).deployment).imagePullSecrets -}}
{{- if $imagePullSecrets }}
      imagePullSecrets:
      {{- toYaml $imagePullSecrets | nindent 6 }}
{{- end }}
      initContainers:
      {{ include "charts.init.shoreline" .}}
      {{ if .Values.initContainers }}
{{- with .Values.initContainers }}
{{toYaml . | indent 6}}{{- end }}
      {{- end }}
{{ if .Values.serviceAccount.name }}
      serviceAccountName: {{ .Values.serviceAccount.name }}
{{- end }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      containers:
      - env:
        {{ include "charts.platform.env.mongo" .}}
        {{ include "charts.platform.env.misc" .}}
        {{ include "charts.platform.env.clients" .}}
        {{ include "charts.kafka.common" .}}
        {{ include "charts.kafka.cloudevents.client" (dict "Values" .Values "Release" .Release "client" "blob") }}
        - name: TIDEPOOL_BLOB_SERVICE_SECRET
          valueFrom:
            secretKeyRef:
              name: blob
              key: ServiceAuth
        - name: TIDEPOOL_BLOB_SERVICE_SERVER_ADDRESS
          value: :{{.Values.global.ports.blob}}
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_STORE_FILE_DIRECTORY
          value: '{{(.Values.deployment).env.store.file.directory}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_STORE_S3_BUCKET
          value: '{{ (.Values.deployment).env.store.s3.bucket }}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_STORE_S3_PREFIX
          value: '{{(.Values.deployment).env.store.s3.prefix}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_STORE_TYPE
          value: '{{(.Values.deployment).env.store.type}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_BLOBS_STORE_FILE_DIRECTORY
          value: '{{(.Values.deployment).env.blobs.store.file.directory}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_BLOBS_STORE_S3_BUCKET
          value: '{{ (.Values.deployment).env.blobs.store.s3.bucket }}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_BLOBS_STORE_S3_PREFIX
          value: '{{(.Values.deployment).env.blobs.store.s3.prefix}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_BLOBS_STORE_TYPE
          value: '{{(.Values.deployment).env.blobs.store.type}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_LOGS_STORE_FILE_DIRECTORY
          value: '{{(.Values.deployment).env.logs.store.file.directory}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_LOGS_STORE_S3_BUCKET
          value: '{{ (.Values.deployment).env.logs.store.s3.bucket }}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_LOGS_STORE_S3_PREFIX
          value: '{{(.Values.deployment).env.logs.store.s3.prefix}}'
        - name: TIDEPOOL_BLOB_SERVICE_UNSTRUCTURED_LOGS_STORE_TYPE
          value: '{{(.Values.deployment).env.logs.store.type}}'
{{- range $key, $val := ((.Values.deployment).extraEnv | default ((.Values.global).deployment).extraEnv | default (dict)) }}
        - name: {{ $key }}
          value: {{ $val | quote }}
{{- end }}
        image: "{{ (.Values.deployment).image }}"
        securityContext:
          {{- .Values.podSecurityContext | toYaml | nindent 10 }}
        {{ template "charts.platform.probes" .Values.global.ports.blob}}
        {{ template "charts.service.lifecycle"}}
        name: blob
        ports:
        - containerPort: {{.Values.global.ports.blob}}
          name: "http"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      restartPolicy: Always
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}

