secret:
  enabled: false
  data_:
    ServiceAuth: ""
deployment:
  image: tidepool/platform-notification:master-latest
  replicas: 1
resources: {}
podSecurityContext: {}
podAnnotations: {}
securityContext: {}
hpa:
  enabled: false
pdb:
  enabled: false
  minAvailable: 1
mongo:
  secretName: mongo
