apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: highwater
{{ include "charts.labels.standard" .}}
  name: highwater
  namespace: {{.Release.Namespace}}
  annotations:
    secret.reloader.stakater.com/reload: "server,highwater,userdata,kissmetrics"
{{ if .Values.deployment.annotations }}
    {{- .Values.deployment.annotations | toYaml | nindent 4 }}
{{- end }}
spec:
  selector:
    matchLabels:
      app: highwater
      app.kubernetes.io/name: {{ include "charts.name" . }}
      app.kubernetes.io/instance: {{ .Release.Name }}
  replicas: {{ .Values.deployment.replicas }}
  strategy: {}
  template:
    metadata:
      labels:
        app: highwater
        app.kubernetes.io/name: {{ include "charts.name" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
{{ if .Values.podAnnotations }}
      annotations:
        {{- .Values.podAnnotations | toYaml | nindent 8 }}
{{- end }}
    spec:
      {{ if .Values.initContainers }}
      initContainers:
{{- with .Values.initContainers }}
{{toYaml . | indent 6}}{{- end }}
      {{- end }}
      containers:
      - env:
      {{ include "charts.tracing.common" .}}
        - name: SKIP_HAKKEN
          value: "true"
        - name: DISCOVERY_HOST
          value: 'hakken'
        - name: METRICS_APIKEY
          valueFrom:
            secretKeyRef:
              name: kissmetrics
              key: APIKey
              optional: true
        - name: METRICS_TOKEN
          valueFrom:
            secretKeyRef:
              name: kissmetrics
              key: Token
              optional: true
        - name: METRICS_UCSF_APIKEY
          valueFrom:
            secretKeyRef:
              name: kissmetrics
              key: UCSFAPIKey
              optional: true
        - name: METRICS_UCSF_WHITELIST
          valueFrom:
            secretKeyRef:
              name: kissmetrics
              key: UCSFWhitelist
              optional: true
        - name: NODE_ENV
          value: '{{.Values.nodeEnvironment}}'
        - name: PORT
          value: "{{.Values.global.ports.highwater}}"
        - name: PUBLISH_HOST
          value: 'hakken'
        - name: SALT_DEPLOY
          valueFrom:
            secretKeyRef:
              name: userdata
              key: UserIdSalt
        - name: SERVER_SECRET
          valueFrom:
            secretKeyRef:
              name: server
              key: ServiceAuth
        - name: SERVICE_NAME
          value: highwater
        - name: USER_API_SERVICE
          value: '{"type": "static", "hosts": [{"protocol": "http", "host": "shoreline:{{.Values.global.ports.shoreline}}"}]}'
        image: "{{ .Values.deployment.image }}"
        securityContext:
          {{- .Values.podSecurityContext | toYaml | nindent 10 }}
        livenessProbe:
          httpGet:
            path: /status
            port: {{.Values.global.ports.highwater}}
          initialDelaySeconds: 3
          periodSeconds: 10
        name: highwater
        ports:
        - containerPort: {{.Values.global.ports.highwater}}
          name: "http"
        resources:
          {{- toYaml .Values.resources | nindent 10 }}
      securityContext:
        {{- toYaml .Values.securityContext | nindent 8 }}
      restartPolicy: Always
    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.affinity }}
      affinity:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
