{{ if .Values.configmap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: oura
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "charts.labels.standard" . }}
data:
  AcceptURL: {{ .Values.configmap.acceptURL | default "" }}
  AuthorizeURL: {{ .Values.configmap.authorizeURL | default "" }}
{{ if .Values.configmap.redirectURL }}
  RedirectURL: {{ .Values.configmap.redirectURL }}
{{ else }}
  RedirectURL: "{{include "charts.host.api" .}}/v1/oauth/oura/redirect"
{{ end }}
  TokenURL: {{ .Values.configmap.tokenURL | default "" }}
  RevokeURL: {{ .Values.configmap.revokeURL | default "" }}
  Scopes: {{ .Values.configmap.scopes | default "" }}
  ClientURL: {{ .Values.configmap.clientURL | default "" }}
  PartnerURL: {{ .Values.configmap.partnerURL | default "" }}
{{ end }}
