configmap:
  # -- whether to generate a configmap
  enabled: true
  # -- base name of topic used for emails to be sent
  EmailsTopic: "emails"
  # -- comma-separated list of broker URLs
  Brokers: ""
  # -- whether SSL is required for communication
  RequireSSL: "true"
  # -- prefix to apply to all topic names
  TopicPrefix: ""
  # -- name for the user events topic
  UserEventsTopic: "user-events"
  # -- name for the auth service dead letter topic
  UserEventsAuthDeadLettersTopic: "user-events-auth-dl"
  # -- name for the blob service dead letter topic
  UserEventsBlobDeadLettersTopic: "user-events-blob-dl"
  # -- name for the data service dead letter topic
  UserEventsDataDeadLettersTopic: "user-events-data-dl"
  # -- name for the gatekeeper service dead letter topic
  UserEventsGatekeeperDeadLettersTopic: "user-events-gatekeeper-dl"
  # -- name for the marketo dead letter topic
  UserEventsHydrophoneDeadLettersTopic: "user-events-hydrophone-dl"
  # -- name for the marketo dead letter topic
  UserEventsMarketoDeadLettersTopic: "user-events-marketo-dl"
  # -- name for the message-api dead letter topic
  UserEventsMessageapiDeadLettersTopic: "user-events-messageapi-dl"
  # -- name for the shoreline dead letter topic
  UserEventsShorelineDeadLettersTopic: "user-events-shoreline-dl"
  # -- name for the seagull dead letter topic
  UserEventsSeagullDeadLettersTopic: "user-events-seagull-dl"
  # -- name for the user service dead letter topic
  UserEventsUserDeadLettersTopic: "user-events-user-dl"
  # -- username for scram authentication
  Username: "admin"
  # -- required version of Kafka server
  Version: "2.5.0"
secret:
  enabled: false
