configmap:
  enabled: true
  EmailsTopic: "emails"
  Brokers: "b-1.default-ops.gxm6gl.c4.kafka.us-west-2.amazonaws.com:9094,b-2.default-ops.gxm6gl.c4.kafka.us-west-2.amazonaws.com:9094,b-3.default-ops.gxm6gl.c4.kafka.us-west-2.amazonaws.com:9094"
  RequireSSL: true
  TopicPrefix: ""
  UserEventsTopic: "user-events"
  UserEventsShorelineDeadLettersTopic: "user-events-shoreline-dl"
  UserEventsMarketoDeadLettersTopic: "user-events-marketo-dl"
  Version: "2.4.0"
nodeSelector: {}
tolerations: []
affinity: {}
