{{ if .Values.configmap.enabled }}
apiVersion: v1
kind: ConfigMap
metadata:
  name: kafka
  namespace: {{ .Release.Namespace }}
  labels:
{{ include "charts.labels.standard" . }}
data:
  Brokers: {{ .Values.configmap.Brokers }}
{{ if .Values.configmap.TopicPrefix }}
  TopicPrefix: {{ .Values.configmap.TopicPrefix }}
{{ else }}
  TopicPrefix: "{{ .Release.Namespace }}_"
{{ end }}
  EmailsTopic: {{ .Values.configmap.EmailsTopic }}
{{ end }}
