enabled: true
deployment:
  image: tidepool/jellyfish:master-latest
  replicas: 1
  env:
    store:
      s3:
        bucket: "data"
    type: file
resources: {}
podSecurityContext: {}
podAnnotations: {}
securityContext: {}
serviceAccount:
  create: false
hpa:
  enabled: false
  minReplicas: 1
nodeEnvironment: production
pdb:
  enabled: false
  minAvailable: "50%"
mongo:
  secretName: mongo
nodeSelector: {}
tolerations: []
affinity: {}
store:
  database: data
  prefix: ""
