global:
  # -- maximum timeout for any web request
  maxTimeout: 120s
  fullnameOverride: ""                             #
  # -- if non-empty, Helm chart name to use
  nameOverride: ""
  # -- aws region that services run in
  region: "us-west-2"
  # -- the default log level for all services
  logLevel: info
  gateway:
    default:
      # -- scheme to use for web service
      protocol: http
      # -- hostname of web service
      host: localhost
      # -- host to use for API calls
      apiHost: ""
      # -- host to use for front end calls
      appHost: ""
      # -- domain to use for cookies
      domain: ""
    proxy:
      name: gateway-proxy
      namespace: gloo-system
  glooingress:
    # -- whether to use Gloo API Gateway for ingress
    enabled: true
    extauth:
      enabled: false
  linkerdsupport:
    # -- whether to include linkerdsupport subchart with Linkerd service profiles
    enabled: true
  ports:
    # -- blip service internal port
    blip: 3000
    # -- devices service grpc internal port
    devices_grpc: 9228                             
    # -- devices service http internal port
    devices_http: 9229 
    # -- export service internal port
    export: 9300
    # -- gatekeeper service internal port
    gatekeeper: 9123
    # -- highwater service internal port
    highwater: 9191
    # -- hydrophone service internal port
    hydrophone: 9157
    # -- jellyfish service internal port
    jellyfish: 9122
    # -- messageapi service internal port
    messageapi: 9119
    # -- auth service internal port
    auth: 9222
    # -- blob service internal port
    blob: 9225
    # -- data service internal port
    data: 9220
    # -- image service internal port
    image: 9226
    # -- notification service internal port
    notification: 9223
    # -- prescription service internal port
    prescription: 9227
    # -- task service internal port
    task: 9224
    # -- user service internal port
    user: 9221
    # -- seagull service internal port
    seagull: 9120
    # -- shoreline service internal port
    shoreline: 9107
    # -- summary service internal port
    summary: 9230
    # -- tidewhisperer service internal port
    tidewhisperer: 9127
  secret:
    enabled: false
    generated: false
    templated: false
tidepool:
  tests:
    job: "none"
    enabled: false
  namespace:
    create: true
    annotations: {}
