enabled: true                           # whether to enable the Gloo API Gateway integration
discovery: {}
  #namespace:                           # namespace where the Gloo discovery service runs
global:
  gateway:
    proxy: 
      name: "gateway-proxy"               # name of the Gloo gateway proxy that will host the virtual service
      #namespace:                         # namespace of the Gloo gateway proxy that will host the virtual service
      port: 80
routeTable:
  name: tidepool-routes                 # name to use for the routeTable that will route tidepool requests
virtualServices:
  http:
    name: http
    dnsNames: [ "localhost" ]           # DNS names served with HTTP 
    enabled: true                       # whether to accept HTTP requests
    redirect: false                     # whether to redirect HTTP requests to HTTPS
    labels: {}
    options: {}
  https:
    name: https
    dnsNames: []                        # DNS names served with HTTPS
    enabled: false                      # whether to serve HTTPS
    hsts: false                         # whether to require Strict Transport Security
    labels: {}
    options: {}
  httpInternal:
    name: http-internal
    labels: {}
    options: {}
gloo:
  enabled: false                        # whether to install the Gloo API Gateway control plane
  crds:                                 
    create: true                        # whether to create the Gloo CRDs
