{{ $proxy := .Values.global.gateway.proxy }}
---
apiVersion: v1
kind: Service
metadata:
  name: internal 
  namespace: {{ .Release.Namespace }}
  labels:
spec:
  externalName: {{ $proxy.name }}.{{ $proxy.namespace | default .Release.Namespace }}.svc.cluster.local
  ports:
  - port: {{ $proxy.port }}
  type: ExternalName
