deployment:
  image: tidepool/highwater:master-latest
  replicas: 1
resources: {}
podSecurityContext: {}
podAnnotations: {}
securityContext: {}
hpa:
  enabled: false
nodeEnvironment: production
pdb:
  enabled: false
  minAvailable: 1
mongo:
  secretName: mongo
